.container {
    width: 700px;
     height: 380px;
     margin: 50px auto; 
    text-align: center;
    background: #1F2C2C;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.85), 0 0 3px rgba(255,255,255,0.75) inset;

   padding: 50px;
}
.counter {
    position: relative;
    letter-spacing: 2px;
    font-family: impact;
      font-size: 8em;   
    color: #617680;
    text-shadow: 1px 1px 1px rgba(173, 242, 255, 0.8), 0 0 10px rgba(0,0,0,0.5);
}

.time {
    font-family: helvetica;
    padding: 10px;
    width: 35%;
    background: #C6C8CA;
    border-radius: 5px;
    font-size: 25px;
    margin: 30px auto;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75), 0 0 2px;
    
}
hr {
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    margin-top: -3px;
}


.button {
    background-color: #FFD034; color: black;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 30px 7px;
    cursor: pointer;
    border-radius: 5px;
}
 
.button:hover {
     background-color: black ; color:  #C0C0C0;
}

.laps {
 width: 700px;

   background-color: #1F2C2C;
   margin: 0 auto;
   

}