.container {
    width: 700px;
     height: 400px;
    left: 50%;
    top: 50%;
     margin: 40px auto;
    /* position: absolute; */
    text-align: center;
    background: #1F2C2C;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.85), 0 0 3px rgba(255,255,255,0.75) inset;
    color: #ccc;
}
.counter {
    position: relative;
    letter-spacing: 2px;
    font-family: impact;
      font-size: 10em;   
    color: #617680;
    text-shadow: 1px 1px 1px rgba(173, 242, 255, 0.8), 0 0 10px rgba(0,0,0,0.5);
}
/* .hello {

    height: 70px;
    width: 120px;
    font-size: 40px;
align-content: center;
}  */


.time {
    font-family: helvetica;
    padding: 10px;
    width: 30%;
    background: #332211;
    border-radius: 5px;
    margin: 25px auto;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.75), 0 0 2px rgba(255,255,255,0.75) inset;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}
hr {
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    margin-top: -3px;
}


.button {
    background-color: #C0C0C0; color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 7px;
    cursor: pointer;
    border-radius: 5px;
}
 
.button:hover {
     background-color: black ; color:  #C0C0C0;
}

.laps {
 width: 700px;

   background-color: #1F2C2C;
   margin: 0 auto;
   

}